@import "tailwindcss";

@theme {
    --color-hero-orange: #FC601D;
    --color-header: oklch(1 0 0);
    --color-neutral-bg: oklch(0.90 0 0);
};

.dark {
    --color-hero-orange: #FC601D;
    --color-header: oklch(0.20 0 0);
    --color-neutral-bg: oklch(0.25 0 0);
};

header {
    box-shadow: 0 0 4px 0;
};

#eTbEiLeoXhs21 {
    @apply scale-0
}